include products
html(lang=ru)
    head
        title Каталог
        meta(name="description" content="auto")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet" href="/styles/styles.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
        .container
            .catalog
                each product in products
                    .product-card
                        .product-card__wrapper
                            .product-card__labels
                                each icon in product.icons
                                    if (icon == 'new')
                                        .product-card__label-new NEW
                                    if (icon == 'sale')
                                        .product-card__label-sale SALE
                                    if (icon == 'hit')
                                        .product-card__label-hit HIT
                            .product-gallery
                                .product-gallery__left-arrow
                                .product-gallery__slides
                                    each photo in product.photos
                                      .product-gallery__slide
                                         img(src=photo)
                                .product-gallery__right-arrow
                            .product-card__description        
                                p.product-card__articul= product.articul
                                p.product-card__name= product.name
                                each feature in product.features
                                    ul.product-card__features
                                        li.feature
                                            span.feature__name= feature.name
                                            | :&nbsp;
                                            span.feature__value= feature.value
                            .product-card__button ПОДРОБНЕЕ
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="app/main.js")
