include products
html(lang=ru)
    head
        title Каталог
        meta(name="description" content="auto")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet" href="/styles/styles.css")
    body
        .container
            .catalog
                each product in products
                    .product-card
                        .product-gallery
                            .product-gallery__left-arrow
                            .product-gallery__slides
                            .product-gallery__slide
                                each photo in product.photos
                                    img(src=photo)
                            .product-gallery__right-arrow
                        p.product-card__articul= product.articul
                        p.product-card__name= product.name
                        each feature in product.features
                            ul.product-card__features
                                li.feature
                                    span.feature__name= feature.name
                                    span.feature__value= feature.value
                        .product-card__button ПОДРОБНЕЕ
